<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <appSettings>
    <add key="CSTFolderPath" value="C:\CST\" />
    <add key="DLLServerAddress" value="http://protoagnostic.cloudapp.net:8600/" />
    <add key="VProgramPath" value="C:\Users\t-das\Documents\Visual Studio 2013\Projects\AuthClassLib\Examples\VProgram\VProgram\" />
  </appSettings>
</configuration>